.mobile-mission-container {
    margin-bottom: 50px;
}

.mobile-mission-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
    padding: var(--pageMargin);
}

.mobile-mission-item-img {
    width: 330px;
    height: 500px;
}

.mobile-mission-item-img img {
    width: 100%;
    height: 100%;
}

.mobile-mission-item-details {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.mobile-mission-item-heading {
    font-size: 2em;
    font-weight: 500;
    line-height: 55px;
}

.mobile-mission-item-subheading {
    font-size: 1em;
    font-weight: 500;
    color: var(--gray);
    line-height: 35px;
}